.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0
}

.image {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.flex {
    display: flex;
    justify-content: center;
    gap:  50px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.title {
    margin-bottom: 20px;
    text-align: center;
}

.trackname {
  font-weight: 700;
  font-size: 16px;
}

.artistname {
  color: #bb2caf;
  font-size: 16px;
}

.link {
    margin-top: auto;
}

.button {
    border: solid 2px transparent;
    background-color: #bb2caf;
    padding: 12px 12px;
    font-size: large;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    justify-content: end;
}

.button:hover {
    border: solid 2px #bb2caf;
    background-color: transparent;
    color: #bb2caf;
    padding: 12px 12px;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
}


